{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<style type="text/css">
  img {max-width: 100%; max-height: 100%;}
  h1 {font-size: 45px; margin-top: 20px; margin-bottom: 10px;}
  h2 {margin-top: 40px; margin-bottom: 20px;}
  p {font-size: 17px;}
</style>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Немного о себе</h1>
    </div>
  </div>
<hr>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <p>
        Привет всем, кто сюда зашел! Меня зовут Данил Кочетов и я программирую на Python.
        Или скорее на момент создания данного сайта - учусь программировать. Этот сайт создан
        как один из учебных проектов.
      </p>
      <p>
        Когда-то давно, <s>когда деревья были большими</s> еще в 9 классе школы нам
        предложили факультативно изучать Basic. Информатика тогда начиналась только
        с 10 класса. В школе был компьютерный класс с 8-и разрядными компьютерами "Корвет".
        Cначала туда пошел весь класс, потом ребята понемногу бросали. А мне все это так понравилось,
        что в итоге на факультатив ходил только я один. Благо мне дали возможность заниматься самому. Было
        чертовски интересно. Интернета тогда еще не было, учился по книжке и методом научного тыка. Читал, изучал,
        пробовал, экспериментировал. Написал разные тесты для школы и простенькую игру,
        где надо было сбивать "летающие тарелки". Планировал стать программистом :)
      <p>
        Жизнь внесла свои коррективы. Учился и работал я по другим специальностям. Хотя на 4-5 курсе института
        у меня наконец-то появился свой компьютер и я изучал Visual Basic. Вся моя дипломная работа была
        по сути завязана на написанные мной программы, и мой научный руководитель тоже использовал эти программы
        в своей докторской диссертации.
      </p>
      </p>
      <p>
        Некоторое время назад назрела необходимость смены вида деятельности, и я решил вернуться
        к тому, что мне всегда нравилось. Сейчас изучаю back-end разработку на Python с помощью
        <a href="https://practicum.yandex.ru/" target="_blank">Яндекс Практикум</a>.
        Надеюсь, что постоянно прилагая усилия и развиваясь, найду работу по этому профилю.
      </p>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <img src="{% static 'img/MyPicture.jpg' %}" alt="Мое фото">
    </div>
  </div>
  <hr>
</div>
<div class="container" style="margin-bottom: 25px;">
  <div class="text-center">
    <h3>Контакты для связи</h3>
    <a href="https://github.com/Duzer61" target="_blank" style="color:#000000; text-decoration:none; margin-right: 20px" >
    <img src='https://raw.githubusercontent.com/gauravghongde/social-icons/9d939e1c5b7ea4a24ac39c3e4631970c0aa1b920/SVG/Color/Github.svg'
    class="icon" style="width: 20px; height: 20px; margin-right: 5px; vertical-align: top; margin-top: 2px"
    alt='Мой GitHub'>Github</a>
    <a href="https://t.me/Duzer61" target="_blank" style="color:#000000; text-decoration:none; margin-right: 20px">
    <img src='https://raw.githubusercontent.com/gauravghongde/social-icons/9d939e1c5b7ea4a24ac39c3e4631970c0aa1b920/SVG/Color/Telegram.svg'
    class="icon" style="width: 20px; height: 20px; margin-right: 5px; vertical-align: top; margin-top: 2px"
    alt='Мой Telegram'>Telegram</a>
    <a href="https://vk.com/Duzer61" target="_blank" style="color:#000000; text-decoration:none">
    <img src='https://raw.githubusercontent.com/gauravghongde/social-icons/9d939e1c5b7ea4a24ac39c3e4631970c0aa1b920/SVG/Color/VK.svg'
    class="icon" style="width: 20px; height: 20px; margin-right: 5px; vertical-align: top; margin-top: 2px"
    alt='Мой VK'>VK</a>
  </div>
</div>
{% endblock %} 