{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
  Пост {{post.text|truncatewords:30}}
{% endblock %}

{% block content %}
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Дата публикации: {{post.pub_date|date:"d E Y"}} 
        </li>
        <!-- если у поста есть группа -->   
        {% if post.group %}
          <li class="list-group-item">
            Группа:
            <a href="{% url 'posts:group_list' post.group.slug %}" style="text-decoration:none">
              {{post.group}}
            </a>
          </li>
        {% endif %}
        <li class="list-group-item">
          Автор: 
          <a href="{% url 'posts:profile' post.author.username %}" style="text-decoration:none">
            {{post.author.get_full_name}}
          </a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего постов автора:
          <a href="{% url 'posts:profile' post.author.username %}" style="text-decoration:none">
            <span>{{post_count}}</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="{% url 'posts:profile' post.author.username %}" style="text-decoration:none">
            все посты пользователя
          </a>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <div class="container py-1">
      {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <p>
        {{post.text}}
      </p>
      {% if post.author == request.user %}
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'posts:post_edit' post.id %}">редактировать пост</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#bannerformmodal" data-bs-toggle="modal"
              data-bs-target="#deleteWarningModal">удалить пост</a>
          </li>
        </ul>
      {% endif %}
      {% include 'posts/includes/comments.html' %}
      </div>
    </article>
  </div>
<!-- Модальное окно -->
<div class="modal fade" id="deleteWarningModal" tabindex="-1"
  aria-labelledby="deleteWarningModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-light bg-gradient">
      <div class="modal-header text-danger">
        <h4 class="modal-title" id="deleteWarningModalLabel">Внимание!</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body h5 text-danger text-center">
        <p>Вы действительно хотите удалить сообщение?</p>
        <p>Восстановление будет невозможно.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
        <form action="{% url 'posts:post_delete' post.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-secondary" role="submit">Да, удалить.</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Конец модального окна-->
{% endblock %}